@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/*COLOURS*/
$VIOLET: hsl(257, 40%, 49%);

body {
  background: url("./images/bg-mobile.svg");
  background-color: $VIOLET;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  padding: 24px;
  width: 35%;
  align-self: flex-start;
}

.screenshot {
  width: 85%;
  align-self: center;
  padding-top: 15%;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding: 50px 50px 0px 50px;
}

.main-text {
  font-family: "Open Sans", sans-serif;
  opacity: 90%;
  padding: 26px;
}

button {
  color: $VIOLET;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  border-radius: 20px;
  width: 50%;
  padding: 10px;
  box-shadow: 0px 7px 8px -7px rgba(48, 25, 48, 1);
}

.social-logos {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 35px;
}
.icon {
  border: solid 1px;
  border-radius: 50%;
  margin: 3px;
}
i {
  padding: 7px;
  justify-content: center;
  font-size: 11px;
}

footer {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  a {
    color: white;
  }
}
